# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Machine Learning / Weights ---
# We ignore pretrained weights but keep the directory structure
*.pt
*.pth
*.weights
*.h5
# Exception: If you have a specific small weight you WANT to track, 
# you can un-ignore it like this: !models/DETR/weights/final_model.pt

# --- Datasets & Data ---
# Ignore the actual images and labels, but keep the folders
data/raw/raw_images/
data/processed/
data/detected_samples/
data/yolo_dataset/images/
data/yolo_dataset/labels/
*.jpg
*.jpeg
*.png
*.webp
*.json
*.cache

# Allow the stratified split and the COCO labels (meta-data)
!data/splits/*.json

# --- Library Specific (YOLO / Gradio) ---
runs/
.gradio/
flagged/
results.csv
results.png
args.yaml

# --- Operating System ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- Project Specific Backup ---
backup/