torch>=2.0.0
torchvision
transformers
pycocotools
torchmetrics
numpy
pandas
opencv-python
pillow
albumentations
scikit-image
matplotlib
tqdm
tabulate
gradio
black
flake8
isort
pylint
pytest
joblib
toml
timm
motmetrics
pydantic<2.0.0
sphinx
sphinx-rtd-theme